/******************************************************************************
 * General Tags																  *
 *****************************************************************************/

*
{
	margin:0;
	padding:0;
}

html
{
	width:900px;
	margin-left:auto;
	margin-right:auto;
}

 /*****************************************************************************
 * User's Profile (top)		   												  *
 *****************************************************************************/

#top_profile
{
	width:400px;
	height:200px;
	border:1px solid #EEE;
}

 /*****************************************************************************
 * Content Buttons (Games, Statistics, Leaderboards, Achievements)		  	  *
 *****************************************************************************/

#profile_button a, #games_button a, #statistics_button a, 
#leaderboards_button a, #achievements_button a
{
	width:400px;
	height:50px;
	border-style:solid;
	border-color:#AAA;
	background-color:#BBB;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:18px;
	text-indent:20px;
	line-height:50px;
	color:#FFF;
	display:block;
	text-decoration:none;
}

#profile_button a, #games_button a, #statistics_button a,
#leaderboards_button a, #achievements_button a
{
	border-width:1px;
}

#games_button a, 	   #statistics_button a, 
#leaderboards_button a, #achievements_button a
{
	border-top:0;
}

#profile_button a:hover, #games_button a:hover, #statistics_button a:hover,
#leaderboards_button a:hover, #achievements_button a:hover
{
	background-color:#CCC;
}

/* * * * * * * * * * * * * * *
 * jQuery button sliders:    *
 * when clicked on, expands  *
 * content area beneath it   *
 * * * * * * * * * * * * * * */
 
.initially_closed
{
	/* initially closed, cannot be visible */
	display:none;
}

.content_open
{
	/* Empty class, used as boolean to
	 * tell if content slides up or down */
}

#navigation a.button_open
{
	background-color:#CCC;
}

 /*****************************************************************************
 * Main Content	(Games, Statistics, Leaderboards, Achievements)				  *
 *****************************************************************************/

#navigation
{
	width:400px;
	background-color:#EEE;
	float:left;
}

#profile, #games, #statistics, #leaderboards, 
#achievements
{
	background-color:#EEE;
}

#profile
{
	height:200px;
}

#games
{
	height:200px;
}

#statistics
{
	height:200px;
}

#leaderboards
{
	height:200px;
}

#achievements
{
	height:200px;
}

/******************************************************************************
 * Content area (Main feed that expands on right side)						  *
 *****************************************************************************/
 
#content_area
{
	width:496px;
	height:254px;
	float:right;
	background-color:#EEE;
	border:1px solid #AAA;
}

/******************************************************************************
 * Footer & Copyright	   												      *
 *****************************************************************************/

#bottom_footer
{
	width:900px;
}

#bottom_footer p
{
	text-align:center;
}