db/*.sqlite3
/rails/
log/*.log
tmp/**/*
.idea/workspace.xml
db/development.sqlite3
log/development.log
/.idea/
.bundle
/public/system/

g/*.log
*.log
/tmp/
doc/
*.swp
*~
.project
.DS_Store
