/******************************************************************************
 * General Tags																  *
 *****************************************************************************/

*
{
	margin:0;
	padding:0;
}

html
{
	width:1000px;
	margin-left:auto;
	margin-right:auto;
}

 /*****************************************************************************
 * Content Buttons (Games, Statistics, Leaderboards, Achievements)		  	  *
 *****************************************************************************/

div#profile_button, div#games_button, div#statistics_button, 
div#leaderboards_button, div#achievements_button
{
	height:50px; 
}

a.feed
{
	width:40px;
	height:50px;
	display:block;
	background-color:#CCC;
	float:left;
	text-indent:-9999px;
}

a.feed:hover
{
	background-color:#BBB;
}

a.button
{
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:18px;
	width:360px;
	height:50px;
	line-height:50px;
	color:#FFF;
	display:block;
	text-decoration:none;
	background-color:#BBB;
}

a.button:hover
{
	background-color:#CCC;
}

/* * * * * * * * * * * * * * *
 * jQuery button sliders:    *
 * when clicked on, expands  *
 * content area beneath it   *
 * * * * * * * * * * * * * * */
 
.initially_closed
{
	/* initially closed, cannot be visible */
	display:none;
}

.content_open
{
	/* Empty class, used as boolean to
	 * tell if content slides up or down */
}

#navigation a.button_open
{
	/* Changes button's color when 
	 * area is expanded (current button) */
	background-color:#CCC;
}

#navigation a.feed_open
{
	/* Changes feed's color when 
	 * feed is loaded (current feed) */
	background-color:#BBB;
}

 /*****************************************************************************
 * Buttons Content	(Games, Statistics, Leaderboards, Achievements)			  *
 *****************************************************************************/

#navigation
{
	width:360px;
	background-color:#EEE;
	float:left;
}

#profile, #games, #statistics, #leaderboards, 
#achievements
{
	background-color:#EEE;
	padding:12px;
}

#profile
{
	height:200px;
}

#games
{
	height:200px;
}

#statistics
{
	height:200px;
}

#leaderboards
{
	height:200px;
}

#achievements
{
	height:200px;
}

/******************************************************************************
 * Content area (Main feed that expands on right side)						  *
 *****************************************************************************/
 
#content_area
{
	float:left;
}

#profile_content, #games_content, #statistics_content,
#leaderboards_content, #achievements_content
{
	width:600px;
	position:absolute;
	padding:10px;
	background-color:#EEE;
}

#profile_content
{
	z-index:100;
	height:100px;
}

#games_content
{
	z-index:200;
	height:100px;
}

#statistics_content
{
	z-index:300;
	height:100px;
}

#leaderboards_content
{
	z-index:400;
	height:100px;
}

#achievements_content
{
	z-index:500;
	height:370px;
}

/******************************************************************************
 * Footer & Copyright	   												      *
 *****************************************************************************/

#bottom_footer
{
	width:900px;
	clear:both;
}

#bottom_footer p
{
	text-align:center;
}