/******************************************************************************
 *                                                                            *
 * General Tags																  *
 *                                                                            *
 *****************************************************************************/

*
{
	margin:0;
	padding:0;
}

html
{
	width:1000px;
	margin-left:auto;
	margin-right:auto;
}

 /*****************************************************************************
 *                                                                            *
 * Expandable buttons (left column)                                           *
 *                                                                            *
 *****************************************************************************/

#navigation
{
	background-color:#FFF;
	float:left;
}

#profile_button, 
#games_button, 
#statistics_button, 
#leaderboards_button, 
#achievements_button
{
	height:50px; 
}

a.feed
{
	width:40px;
	height:50px;
	display:block;
	/*background-color:#CCC;*/
    background-image:url("../images/feed.png");
	float:left;
    clear:both;
    text-indent:-9999px;
    
}

a.feed:hover
{
	background-color:#EEE;
}

a.button
{
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:18px;
	width:360px;
	height:50px;
	line-height:50px;
	color:#FFF;
	display:block;
	text-decoration:none;
    background-image:url("../images/430.png");
    text-indent:15px;
    text-shadow:2px 2px #AAA;
    float:left;
}

a.button:hover
{
	background-color:#CCC;
}

/* * * * * * * * * * * * * * *
 *                           *
 * jQuery button sliders:    *
 * when clicked on, expands  *
 * content area beneath it   *
 *                           *
 * * * * * * * * * * * * * * */
 
.initially_closed
{
	/* initially closed, cannot be visible */
	display:none;
}

.content_open
{
	/* Empty class, used as boolean to
	 * tell if content slides up or down */
}

#navigation a.button_open
{
	/* Changes active button's color when 
	 * area is expanded (current button) */
	background-color:#CCC;
}

#navigation a.feed_open
{
	/* Changes feed's color when 
	 * feed is loaded (current feed) */
	background-color:#EEE;
}

 /*****************************************************************************
 *                                                                            *
 * Expandable buttons content (expanded when button is clicked)               *
 *                                                                            *
 *****************************************************************************/

#profile, 
#games, 
#statistics, 
#leaderboards, 
#achievements
{
	background-color:#EEE;
    width:330px;
    float:right;
    padding:15px;
}

#profile
{
	height:200px;
}

#games
{
	height:200px;
}

#statistics
{
	height:200px;
}

#leaderboards
{
	height:200px;
}

#achievements
{
	height:200px;
}

/******************************************************************************
 *                                                                            *
 * Content feed (right column)                                                *
 *                                                                            *
 *****************************************************************************/
 
#content_area
{
	float:left;
}

#profile_content, 
#games_content, 
#statistics_content,
#leaderboards_content, 
#achievements_content
{
	width:600px;
	position:absolute;
	padding:10px;
	background-color:#F9F9F9;
    border:1px solid #EEE;
}

#profile_content
{
	z-index:100;
}

#games_content
{
	z-index:200;
}

#statistics_content
{
	z-index:300;
}

#leaderboards_content
{
	z-index:400;
}

#achievements_content
{
	z-index:500;
}

/******************************************************************************
 *                                                                            *
 * Footer & Copyright	   												      *
 *                                                                            *
 *****************************************************************************/

#bottom_footer
{
	width:900px;
	clear:both;
}

#bottom_footer p
{
	text-align:center;
}