<<<<<<< HEAD
<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>
=======
<div id="profileFeed">
  <h1>Users#index</h1>
  <p>Find me in app/views/users/index.html.erb</p>
>>>>>>> 2c18fd0ff0808e2c49817259305d5a7c8769d0e6

  This is the Profile for <%= current_user.name %>
</div>
