<<<<<<< HEAD
This is the home feed for <%= current_user.name %>.  You have <%= current_user.money? %> dollars!
=======
<div id="privateHome"> 
  This is the home feed for <%= current_user.name %>
</div>
>>>>>>> 2c18fd0ff0808e2c49817259305d5a7c8769d0e6
