<div id="homePublic">
   <div id="welcomeCol" class="lFloat">
      <h1> Welcome</h1>    
   </div>
   <div id="signupCol" class="rFloat">
      <a href="" class="signup"><span>Sign up</span></a>
      <fieldset id="signup_menu">
         <%= render :partial => "users/signup" , :locals => {:user => User.new}%>
      </fieldset>
   </div>
</div>


