<div id="homePublic">
   <div id="welcomeCol" class="lFloat">
      <h1> Welcome to Major League Betting!</h1>
      <p>MLB is the number one sports betting site for fans of any age.  Free, fun, safe and accurate, what more could you possibly want from a betting site?
      <ul>
         <li> Detailed, authentic betting site
         <li> View your favorite team's stats, updated everyweek
         <li> Perfect for betters of all experience levels; play for fun, or for keeps!
         <li> Compare how you rank against other players, your friends, and even the world!
         <li> Enjoy several different wager types such as head-to-head, and over under
         <li> Accurate spread calculator makes you feel like you're betting in Las Vagas!
         <li> Unlock achievements to unlock your bragging rights!
         <li> Always free!
      </p>
      
   </div>
   <div id="signupCol" class="rFloat">
      <a href="" class="signup"><span>Sign up</span></a>
      <fieldset id="signup_menu">
         <%= render :partial => "users/signup" , :locals => {:user => User.new}%>
      </fieldset>
   </div>
</div>


