/******************************************************************************
 *                                                                            *
 * Universal Styles: specific to commonly used HTML tag						  *
 *                                                                            *
 *****************************************************************************/

html {
	width:1000px;
	margin-left:auto;
	margin-right:auto;
}
body {
	font-family:Arial, Helvetica, sans-serif;
  	font-size:13px;
	margin-top: 0;
}

/******************************************************************************
 *                                                                            *
 * Library Styles: common used styles, decorative class styles                *
 *                                                                            *
 *****************************************************************************/

.lFloat {
    float: left;
}
.rFloat {
    float: right;
}
.rFloat .nfl-ne {		
	background-image: url('images/nfl-images/nfl-newenglandpatriots.png');
	background-position:top left;
}
.txtLeft {
	text-align:left;
}
.txtRight {
	text-align:right;
}
.label {
	font-size: 13px;
	padding-right: 3px;
	width: 105px;
	text-align:right;
}

.bluebox, .bluetab {
    background-color:#2C71E0;
}

.redbox, .redtab {
    background-color:#D44937;
}

.redbox,
.bluebox {
	display:block;
	-moz-border-radius:5px;
    -webkit-border-radius:5px;
    border:1px transparent;
    text-align:left;
    color:#fff;
    font-size:11px;
	padding:5px;
}

.redtab,
.bluetab {
	display:block;
	-moz-border-radius-topleft:5px;
	-moz-border-radius-topright:5px;
    -webkit-border-top-left-radius:5px;
    -webkit-border-top-right-radius:5px;
    border:1px transparent;
    text-align:left;
    color:#fff;
    font-size:11px;
	padding:5px;
}

/******************************************************************************
 *                                                                            *
 * Template Layouts: unique styles for elements, styles for website structure *
 *                                                                            *
 *****************************************************************************/

#container {
	width:1000px;
	margin: 0 auto;
	position: relative;
}
#content {
	min-height: 600px;
	margin: 0;
	padding: 0;
	width:1000px !important;
	clear: both;
	display: block;
	content: ".";
}
#navigation {
	width:358px;
	float:left;
}
#feedContent {
	float:right;
	min-height:600px;
	min-width:620px;
}
#footer {
    margin-bottom: 30px;
    padding: 8px;
    position: relative;
    border-top: 1px solid #EEEEEE;
    margin-bottom: 30px;
    padding: 8px;
    position: relative;
}
.debug_dump {
	clear: both;
	display: block;
	content: ".";
}
.logo {
	border:1px;
	height:32px;
	background-repeat:no-repeat;
	display:block;
	
}
	a.logo { 
		text-decoration:none;
		text-shadow: 2px 2px 2px;
		padding: 5px 4px 0 35px;
		color:#000000;
	}
	a.logo:hover { 
		background-color:#FFF6A9;
		text-decoration:underline;
	}
	.logo.nflNE-small {		
		background-image: url('/assets/nfl-images/nfl-newenglandpatriots-small.png');
		background-position:top left;
	}
	.logo.nflNYJ-small {		
		background-image: url('/assets/nfl-images/nfl-nyjets-small.png');
		background-position:top left;
	}
	.logo.nflBUF-small {		
		background-image: url('/assets/nfl-images/nfl-buffalobills-small.png');
		background-position:top left;
	}
	.logo.nflMIA-small {		
		background-image: url('/assets/nfl-images/nfl-miamidolphins-small.png');
		background-position:top left;
	}
	.logo.nflPIT-small {		
		background-image: url('/assets/nfl-images/nfl-pitstburghsteelers-small.png');
		background-position:top left;
	}
	.logo.nflBAL-small {		
		background-image: url('/assets/nfl-images/nfl-baltimoreravens-small.png');
		background-position:top left;
	}
	.logo.nflCIN-small {		
		background-image: url('/assets/nfl-images/nfl-cincinnatibengals-small.png');
		background-position:top left;
	}
	.logo.nflCLE-small {		
		background-image: url('/assets/nfl-images/nfl-clevelandbrowns-small.png');
		background-position:top left;
	}
	.logo.nflHOU-small {		
		background-image: url('/assets/nfl-images/nfl-houstontexans-small.png');
		background-position:top left;
	}
	.logo.nflTEN-small {		
		background-image: url('/assets/nfl-images/nfl-tennesseetitans-small.png');
		background-position:top left;
	}
	.logo.nflJAC-small {		
		background-image: url('/assets/nfl-images/nfl-jacksonvillejaguars-small.png');
		background-position:top left;
	}
	.logo.nflIND-small {		
		background-image: url('/assets/nfl-images/nfl-indianapoliscolts-small.png');
		background-position:top left;
	}
	.logo.nflOAK-small {		
		background-image: url('/assets/nfl-images/nfl-oaklandraiders-small.png');
		background-position:top left;
	}
	.logo.nflSD-small {		
		background-image: url('/assets/nfl-images/nfl-sandiegochargers-small.png');
		background-position:top left;
	}
	.logo.nflDEN-small {		
		background-image: url('/assets/nfl-images/nfl-denverbroncos-small.png');
		background-position:top left;
	}
	.logo.nflKC-small {		
		background-image: url('/assets/nfl-images/nfl-kansascitychiefs-small.png');
		background-position:top left;
	}
	.logo.nflNYG-small {		
		background-image: url('/assets/nfl-images/nfl-nygiants-small.png');
		background-position:top left;
	}
	.logo.nflDAL-small {		
		background-image: url('/assets/nfl-images/nfl-dallascowboys-small.png');
		background-position:top left;
	}
	.logo.nflPHI-small {		
		background-image: url('/assets/nfl-images/nfl-philadelphiaeagles-small.png');
		background-position:top left;
	}
	.logo.nflWAS-small {		
		background-image: url('/assets/nfl-images/nfl-washingtonredskins-small.png');
		background-position:top left;
	}
	.logo.nflGB-small {		
		background-image: url('/assets/nfl-images/nfl-greenbaypackers-small.png');
		background-position:top left;
	}
	.logo.nflDET-small {		
		background-image: url('/assets/nfl-images/nfl-detroitlions-small.png');
		background-position:top left;
	}
	.logo.nflCHI-small {		
		background-image: url('/assets/nfl-images/nfl-chicagobears-small.png');
		background-position:top left;
	}
	.logo.nflMIN-small {		
		background-image: url('/assets/nfl-images/nfl-minnesotavikings-small.png');
		background-position:top left;
	}
	.logo.nflNO-small {		
		background-image: url('/assets/nfl-images/nfl-neworleanssaints-small.png');
		background-position:top left;
	}
	.logo.nflATL-small {		
		background-image: url('/assets/nfl-images/nfl-atlantafalcons-small.png');
		background-position:top left;
	}
	.logo.nflCAR-small {		
		background-image: url('/assets/nfl-images/nfl-carolinapanthers-small.png');
		background-position:top left;
	}
	.logo.nflTB-small {		
		background-image: url('/assets/nfl-images/nfl-tampabaybuccaneers-small.png');
		background-position:top left;
	}
	.logo.nflSF-small {		
		background-image: url('/assets/nfl-images/nfl-sanfrancisco49ers-small.png');
		background-position:top left;
	}
	.logo.nflSEA-small {		
		background-image: url('/assets/nfl-images/nfl-seattleseahawks-small.png');
		background-position:top left;
	}
	.logo.nflARI-small {		
		background-image: url('/assets/nfl-images/nfl-arizonacardinals-small.png');
		background-position:top left;
	}
	.logo.nflSTL-small {		
		background-image: url('/assets/nfl-images/nfl-stlouisrams-small.png');
		background-position:top left;
	}
.info, .success, .warning, .error, .validation {
	border: 1px solid;
	margin: 10px 0px;
	padding:15px 10px 15px 50px;
	background-repeat: no-repeat;
	background-position: 10px center;
}
	.info {
		color: #00529B;
		background-color: #BDE5F8;
		background-image: url('/assets/knobs/Knob_Info.png');
	}
	.success {
		color: #4F8A10;
		background-color: #DFF2BF;
		background-image:url('/assets/knobs/Knob_ValidGreen.png');
	}
	.warning {
		color: #9F6000;
		background-color: #FEEFB3;
		background-image: url('/assets/knobs/Knob_Attention.png');
	}
	.error {
		color: #D8000C;
		background-color: #FFBABA;
		background-image: url('/assets/knobs/Knob_Cancel.png');
	}
	.validation {
		color: #D63301;
		background-color: #FFCCBA;
		background-image: url('/assets/knobs/Knob_RemoveRed.png');
	}
        .validation ul {
            padding:0px 0px 0px 10px;
        }
    
