// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#signupForm {
	margin: 0 auto;
	position: relative;
	width: 400px;
}
	#signupForm h2 {
		text-align: center;
	}
	#signup_menu .btn,
	#signupForm .btn {
		 margin: 0 0 0 81px;
	}
