<div id="content_area">
	<div id="profile_content" class="initially_closed">
		Profile stream goes here
	</div>
	<div id="games_content" class="initially_closed">
		This is the game content area where user's can bet on games and sh!t.
	</div>
	<div id="statistics_content" class="initially_closed">
		This is a quick way to find league, division, team, and (possibly) player statistics.
	</div>
	<div id="leaderboards_content" class="initially_closed">
		This is the ranking system for the global community of Major League Betting, see where 
		you rank compared to your friends, how many points you have, bets won, recent activity, etc.
	</div>
	<div id="achievements_content" class="initially_closed">
		<p>This is where to go to see what achievements you've unlocked since joining the MLB community. 
			There are achievements awarded at certain betting points (i.e. 10 bets won, 50 bets won, 100...).
		Players can also be awarded achievements for things such as over/under spread being positive, or 
		possibly going with the underdog achievement, etc. anything really.</p>
		
		<p>This is where to go to see what achievements you've unlocked since joining the MLB community. 
			There are achievements awarded at certain betting points (i.e. 10 bets won, 50 bets won, 100...).
		Players can also be awarded achievements for things such as over/under spread being positive, or 
		possibly going with the underdog achievement, etc. anything really.</p>
		
		<p>This is where to go to see what achievements you've unlocked since joining the MLB community. 
			There are achievements awarded at certain betting points (i.e. 10 bets won, 50 bets won, 100...).
		Players can also be awarded achievements for things such as over/under spread being positive, or 
		possibly going with the underdog achievement, etc. anything really.</p>
	</div>
</div> <!-- content area -->