<header>
	<div id="topbar">
		<% if signed_in? %>
			<div id="home">
            	<a href="">home page</a>
        	</div>
			<div id="topnav" class="topnav">
	    		<a href="" class="signin"><span>Sign out</span></a>
	    	</div>
	    <% else %>
			<div id="topnav" class="topnav">
		    	<a href="" class="signout"><span>Sign in</span></a>
		    </div>
		    <fieldset id="signin_menu">
		    	<%= render :partial => 'sessions/signin' %>
		    </fieldset>
	 	<% end %>         
    </div>
</header>
<script type="text/javascript">
        jQuery(function($) {
            $(".signin").click(function(e) {
                e.preventDefault();
                $("fieldset#signin_menu").toggle();
                $(".signin").toggleClass("menu-open");
            });

            $("fieldset#signin_menu").mouseup(function() {
                return false
            });
            $(document).mouseup(function(e) {
                if($(e.target).parent("a.signin").length==0) {
                    $(".signin").removeClass("menu-open");
                    $("fieldset#signin_menu").hide();
                }
            });

        });
</script>
