<header>
	<div id="topbar">
        <div id="home">
            <a href="">home page</a>
        </div>
       <div id="topnav" class="topnav">
           <a href="" class="signin"><span>Sign in</span></a>
       </div>
          <fieldset id="signin_menu">
            <%= render :partial => 'sessions/signin' %>
          </fieldset>
    </div>
</header>
<script type="text/javascript">
        jQuery(function($) {
            $("#signin_menu").toggle();
            $(".signin").click(function(e) {
                e.preventDefault();
                $("fieldset#signin_menu").toggle();
                $(".signin").toggleClass("menu-open");
            });

            $("fieldset#signin_menu").mouseup(function() {
                return false
            });
            $(document).mouseup(function(e) {
                if($(e.target).parent("a.signin").length==0) {
                    $(".signin").removeClass("menu-open");
                    $("fieldset#signin_menu").hide();
                }
            });

        });
</script>
