<header>
	<div id="topbar">
		<div id="home">
			<%= link_to "Home", root_path, :class => "homeImage" %>
        </div>
		<div id="topnav" class="topnav">
			<% if signed_in? %>
				<%= link_to "Sign out", signout_path, :method => :delete, :class => "signin" %>
			<% else %>
				<a href="" class="signin"><span>Sign in</span></a>
				<fieldset id="signin_menu">
					<%= render :partial => 'sessions/signin' %>
				</fieldset>
			<% end %>
	    </div>  
    </div>
</header>
<script type="text/javascript">
	
        
</script>
