<header>
	<div id="topbar">
        <div id="home">
            <a href="">home page</a>
        </div>
        <div id="sign-in">
            <a href="">sign in here</a>
        </div>
    </div>
  <div class="fltRight">
    <%= render 'layouts/signin' %>
  </div>
</header>