<!DOCTYPE html>
<head>

	<title>Major League Betting</title>
	
	<link rel="stylesheet" href="../../../public/stylesheets/stylesheet.css" type="text/css" />
	<script type="text/javascript" src="../../../public/javascripts/jquery-1.2.6.min.js"></script>
	<script type="text/javascript" src="../../../public/javascripts/content_slide.js"></script>

</head>

<body>
	
	<div id="topbar">
        <div id="home">
            <a href="">home page</a>
        </div>
       <div id="topnav" class="topnav">
           <a href="" class="signin"><span>Sign in</span></a>
       </div>
          <fieldset id="signin_menu">
            <%= render :partial => 'sessions/signin' %>
          </fieldset>
    </div>
    
		<div id="navigation">
        
			<div id="profile_button">
				<a href="#" class="feed">&nbsp;</a>
				<a href="#" class="button">Profile</a>
                
                <div id="profile" class="initially_closed">
                    <h2 style="line-height:40px;">Player's Name</h2>
                    <img src="" width="150" height="140" alt="players_picture" />
                </div>
			</div>
			
			<div id="games_button">
				<a href="#" class="feed">&nbsp;</a>
				<a href="#" class="button">Games</a>
                
                <div id="games" class="initially_closed">
                    All current games and upcoming games will be posted here, and you can search to maneuver easily within this DB
                </div>
			</div>
			
			<div id="statistics_button">
				<a href="#" class="feed">&nbsp;</a>
				<a href="#" class="button">Statistics</a>
                
                <div id="statistics" class="initially_closed">
                    Game, player, career, seasonal, and league statistics 
                </div>
			</div>
			
			<div id="leaderboards_button">
				<a href="#" class="feed">&nbsp;</a>
				<a href="#" class="button">Leaderboards</a>
                
                <div id="leaderboards" class="initially_closed">
                    How users in the world of Major LeaguedBetting rate comparatively
                </div>
			</div>
			
			<div id="achievements_button">
				<a href="#" class="feed">&nbsp;</a>
				<a href="#" class="button">Achievements</a>
                
                <div id="achievements" class="initially_closed">
                    Personal achievements for current user will be displayed here.
                </div>
			</div>
			
		</div> <!-- navigation -->
        
		<div id="content_area">
			<div id="profile_content" class="initially_closed">
				Profile stream goes here
			</div>
			<div id="games_content" class="initially_closed">
				This is the game content area where user's can bet on games and sh!t.
			</div>
			<div id="statistics_content" class="initially_closed">
				This is a quick way to find league, division, team, and (possibly) player statistics.
			</div>
			<div id="leaderboards_content" class="initially_closed">
				This is the ranking system for the global community of Major League Betting, see where you rank compared to your friends, how many points you have, bets won, recent activity, etc.
			</div>
			<div id="achievements_content" class="initially_closed">
				<p>This is where to go to see what achievements you've unlocked since joining the MLB community. There are achievements awarded at certain betting points (i.e. 10 bets won, 50 bets won, 100...).
				Players can also be awarded achievements for things such as over/under spread being positive, or possibly going with the underdog achievement, etc. anything really.</p>
				
				<p>This is where to go to see what achievements you've unlocked since joining the MLB community. There are achievements awarded at certain betting points (i.e. 10 bets won, 50 bets won, 100...).
				Players can also be awarded achievements for things such as over/under spread being positive, or possibly going with the underdog achievement, etc. anything really.</p>
				
				<p>This is where to go to see what achievements you've unlocked since joining the MLB community. There are achievements awarded at certain betting points (i.e. 10 bets won, 50 bets won, 100...).
				Players can also be awarded achievements for things such as over/under spread being positive, or possibly going with the underdog achievement, etc. anything really.</p>
			</div>
		</div> <!-- content area -->

        
		<div id="bottom_footer">
			<p>Copyright &copy; 2011 Major League Betting. All rights reserved.</p>
		</div>
		
		
</body>
</html>